name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Or 'master' depending on your default branch name

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Build Web
        run: |
          flutter pub get
          # The --base-href is crucial. Use your repo name between the slashes.
          flutter build web --release --base-href "/flutter_web_qr_generator/"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web